div {margin:0px;}
#QQ div {padding:0;}
#QQ {font-family:宋体;font-size:12px;position:absolute;margin:0 auto;padding:0;border:0;display:none;}
.QQ_Header {width:186px;height:75px;background-image:url(/images/qq/qq_header-trans.png);}
.QQ_Header img#min {width:25px;height:17px;border:0px;margin:1px 0 0 0;float:right;cursor:pointer;}
.QQ_Header img#close {width:42px;height:17px;border:0px;margin:1px 5px 0 0;float:right;cursor:pointer;}
.QQ_Header span {display:block;clear:both;padding:10px 10px 10px 60px;line-height:20px;overflow:hidden;color:White;}
.QQ_Content {width:186px;background-image:url(/images/qq/qq_line-trans.png);padding:1px;}
.QQ_Content ul {width:176px;margin:1px auto;padding:0;border:1px #D2EAF9 solid;line-height:28px;padding-bottom:50px;}
.QQ_Content .mover {height:28px;line-height:28px;overflow:hidden;margin:5px 0px 0px 2px;padding-left:2px;cursor:default;vertical-align:top;}
.QQ_Content .mover .m1 {float:left;width:21px;height:25px;margin-top:2px;}
.QQ_Content .mover .m1 img {border:1px #E7EDF2 solid;width:20px;height:20px;}
.QQ_Content .mover .m2 {height:20px;}
.QQ_Content .mover .m2 .s1 {padding-left:12px;max-width:80px;overflow:hidden;display:block;height:20px;float:left;}
.QQ_Content .mover .m2 .s2 {padding-left:5px;display:block;height:20px;color:Gray;}
.QQ_Content .select {height:54px;overflow:hidden;margin:5px 0px 0px 2px;padding-left:2px;cursor:default;vertical-align:top;background-image:url(/images/qq/qq_select-trans.png);}
.QQ_Content .select .m1 {float:left;width:54px;height:54px;line-height:54px;margin-top:2px;float:left;}
.QQ_Content .select .m1 img {border:1px #E7EDF2 solid;width:50px;height:50px;}
.QQ_Content .select .m2 {padding-left:4px;height:54px;}
.QQ_Content .select .m2 .s1 {display:block;}
.QQ_Content .select .m2 .s2 {display:block;color:Gray;line-height:12px;}
.QQ_Bottom {width:126px;height:52px;background-image:url(/images/qq/qq_bottom-trans.png);padding-left:60px;padding-top:3px;font-size:12px;color:White;line-height:25px;}
#QQ div.QQ_Bottom {padding-left:60px;padding-top:3px;}